<%- contentFor('body') %>

    <!-- User information -->
    <section id="userInfo" class="px-6 pt-16 pb-8 sm:px-16 sm:pb-16 lg:px-32 lg:pb-32">
        <form action="/<%= currentLanguage %>/contact" method="POST">
            <h2 class="h4 text-left mb-12"><%= currentLanguage==='en' ? 'Contact information' : '聯絡資料' %></h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="name" class=""><%= currentLanguage==='en' ? 'Name' : '姓名' %><span class="text-red-700">*</span></label>
                    <input class="w-full px-6 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-cyan-500"
                        id="name" name="name" type="text" placeholder="<%= currentLanguage==='en' ? 'Name' : '姓名' %>"
                        value="<%= typeof formData !== 'undefined' ? formData.name || '' : '' %>" required>
                </div>
                
                <div>
                    <label for="company" class=""><%= currentLanguage==='en' ? 'Company' : '公司名稱' %></label>
                    <input class="w-full px-6 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-cyan-500"
                        id="company" name="company" type="text" placeholder="<%= currentLanguage==='en' ? 'Company' : '公司名稱' %>" 
                        value="<%= typeof formData !== 'undefined' ? formData.company || '' : '' %>">
                </div>

                <div>
                    <label for="email" class=""><%= currentLanguage==='en' ? 'Email' : '電子信箱' %><span class="text-red-700">*</span></label>
                    <input class="w-full px-6 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-cyan-500"
                        id="email" name="email" type="email" placeholder="<%= currentLanguage==='en' ? 'Email' : '電子信箱' %>" 
                        value="<%= typeof formData !== 'undefined' ? formData.email || '' : '' %>" required>
                </div>
                
                <div>
                    <label for="phone" class=""><%= currentLanguage==='en' ? 'Phone' : '聯絡電話' %></label>
                    <input class="w-full px-6 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-cyan-500" 
                        id="phone" name="phone" type="tel" placeholder="<%= currentLanguage==='en' ? 'Phone' : '聯絡電話' %>" 
                        value="<%= typeof formData !== 'undefined' ? formData.phone || '' : '' %>">
                </div>
            </div>

            <h2 class="h4text-left my-12"><%= currentLanguage==='en' ? 'Requirement' : '需求' %></h2>
            
            <label for="categoryId" class=""><%= currentLanguage==='en' ? 'Requirements category' : '需求分類' %><span class="text-red-700">*</span></label>
            <div class="p-2 mt-4 mb-4 relative rounded-xl border">
                <select class="w-full  text-gray-600 border-0 focus:ring-0 focus:outline-none py-2 pl-2 pr-10 appearance-none"
                    id="categoryId" name="categoryId" required>
                    <option value="">
                        <%= currentLanguage==='en' ? '-- Select Category --' : '-- 選擇類別 --' %>
                      </option>
                      <% categories.forEach(function(category) { %>
                        <option value="<%= category.id %>" <%=typeof formData !=='undefined' &&
                          formData.categoryId==category.id ? 'selected' : '' %>>
                          <%= currentLanguage==='en' ? category.name_en : category.name_tw %>
                        </option>
                        <% }); %>
                </select>
                <!-- 自定義下拉箭頭 -->
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-500">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </div>
            </div>
            
            <label for="message" class=""><%= currentLanguage==='en' ? 'Requirements description' : '需求說明' %><span class="text-red-700">*</span></label>
            <textarea name="message" id="message" rows="6" placeholder="<%= currentLanguage==='en' ? 'Requirements description' : '需求說明' %>" class="w-full px-3 py-2 mt-4 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-cyan-500 resize-y"></textarea>

            <h2 class="h4 ext-left my-12">
                <%= currentLanguage==='en' ? 'Institute for Information Industry - Personal Data Collection, Processing, and Usage Consent Form' : '財團法人工業技術研究院 個人資料蒐集、處理及利用之告知暨同意書' %>
            </h2>
            <div id="termsContainer" class="p-8 sm:p-16 h-80 border border-gray-300 rounded-3xl overflow-auto">
                <p>
                    <%= currentLanguage==='en' ? 'Notification Statement' : '告知事項' %>
                    <br>
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'The Industrial Technology Research Institute (hereinafter referred to as "the Institute") will collect, process, and use your personal data (hereinafter referred to as "personal data") to execute the Shalun Artificial Intelligence Industrial Zone Preliminary Planning Project. We hereby notify you of the following details: ' : 
                    '財團法人工業技術研究院（下稱本院）為了執行沙崙人工智慧產業專區先期規劃計畫，將蒐集、處理及利用您的個人資料（下稱個資），謹先告知下列事項：' %>
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '1. Purpose of Collection Your personal data is collected for the following purposes: "006 Industrial Administration" "008 Assistance for SMEs and Other Industries" "078 Project, Control Evaluation, and Research Management" "110 Industry-Academic Collaboration" "130 Conference Management" "157 Surveys, Statistics, and Research Analysis" "182 Other Consulting and Advisory Services"' : 
                    '一、蒐集目的：「006工業行政」、「008中小企業及其他產業之輔導」、「078計畫、管制考核與其他研考管理」、「110產學合作」、「130 會議管理」、「157調查、統計與研究分析」及「182 其他諮詢與顧問服務」等相關事宜。' %>
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '2. Categories of Personal Data Collected The following categories of personal data may be collected: C001: Identifiable Personal Information C003: Identifiable Government Data C038: Occupation C052: Professional Qualifications or Technical Certifications C053: Membership in Professional Associations C061: Current Employment Status C067: Membership in Trade Unions and Employee Associations ' : 
                    '二、個資類別：「C001識別個人者」、「C003政府資料中之辨識者」、「C038職業」、「C052資格或技術」、「C053職業團體會員資格」、「C061現行之受雇情形」及「C067工會及員工之會員資格」等。' %>
                    
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '3. Data Retention Period Your data will be retained until the purpose of collection is fulfilled.' : 
                    '三、利用期間：至蒐集目的消失為止。' %>
                    
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '4. Data Usage Location Your data will be used within the Republic of China (Taiwan) and at the Institute\'s locations and offices.' : 
                    '四、利用地區：中華民國地區及本院駐點及辦事處所在地區。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '5. Data Users Your data may be used by the Institute and other public and private entities with business relations with the Institute.' : 
                    '五、利用者：本院及其他與本院有業務往來之公務及非公務機關。' %>
                    
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '6. Methods of Data Usage Your data may be used through the internet, email, written communication, fax, or other legally permitted means, provided it does not contradict the stated purpose of collection.' : 
                    '六、利用方式：在不違反蒐集目的的前提下，以網際網路、電子郵件、書面、傳真及其他合法方式利用之。' %>
                    
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '7. Your Rights You have the right to request the following in writing:' : 
                    '七、您得以書面主張下列權利：' %>
                    
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'Access or review your personal data.' : 
                    '（一）查詢或請求閱覽。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'Obtain a copy of your personal data.' : 
                    '（二）請求製給複製本。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'Supplement or correct your personal data.' : 
                    '（三）請求補充或更正。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'Request suspension of collection, processing, or use of your data.' : 
                    '（四）請求停止蒐集、處理或利用。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'Request deletion of your personal data.' : 
                    '（五）請求刪除。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    'If you wish to exercise any of the above rights, please contact the responsible personnel at: Phone: 06-0000000 Email: service@stsvpo.org.tw The Institute will respond to your request in accordance with applicable laws.' : 
                    '若有上述需求，請與承辦人員(電話：06-0000000；E-mail：service@stsvpo.org.tw)聯繫，本院將依法進行回覆。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '8. Consent Requirement If you choose not to sign this notification and consent form, the Institute will not be able to provide you with related services within the specific scope of its operations.' : 
                    '八、您若不簽署本告知暨同意書，本院將無法提供您特定目的範圍內之相關服務。' %>
                    
                    <br>
                    <br>
                    <%= currentLanguage==='en' ? 
                    '9. Confidentiality and Data Protection The Institute will safeguard and protect your personal data in accordance with relevant government regulations.' : 
                    '九、對本院所持有您的個資，本院會按照政府相關法規保密並予以妥善保管。' %>
                    
                    <br>
                    <br>
                </p>
            </div>
            <div class="flex items-start my-8">
                <div class="flex items-center h-5">
                    <input id="agreeTerms" name="agreeTerms" type="checkbox" class="h-4 w-4 text-cyan-600 border-gray-300 rounded focus:ring-cyan-500" required>
                </div>
                <div class="ml-3">
                    <label for="agreeTerms" class="">
                        <%= currentLanguage==='en' ? 
                        'I have read and understood the notification statement, and I consent to the collection, processing, and use of my personal data by the Greater Southern Silicon Valley Promotion Office. I agree that this consent may be provided in electronic form.' : 
                        '本人已閱讀並瞭解個資同意書之 告知事項，並同意大南方推動辦公室，蒐集、處理及利用本人的個資，本項同意得以電子文件方式表達。' %>
                    </label>
                </div>
            </div>
            <div class="flex justify-center my-8">
                <button type="submit" id="submitButton" class="px-12 py-2 border rounded-3xl custom-button-green">
                    <%= currentLanguage==='en' ? 'Submit' : '送出' %>
                </button>
            </div>
            

        </form>
    </section>

    <!-- 添加 JavaScript 來處理條件邏輯 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const termsContainer = document.getElementById('termsContainer');
            const agreeTerms = document.getElementById('agreeTerms');
            const submitButton = document.getElementById('submitButton');
            let hasScrolledToBottom = false;

            // 一開始就檢查條件
            updateSubmitButton();

            // 監聽滾動事件
            termsContainer.addEventListener('scroll', function() {
                // 檢查是否滾動到底部
                if (termsContainer.scrollHeight - termsContainer.scrollTop <= termsContainer.clientHeight + 1) {
                    hasScrolledToBottom = true;
                    // 滾動到底部後啟用複選框
                    agreeTerms.disabled = false;
                    
                    // 檢查是否已勾選同意框
                    updateSubmitButton();
                }
            });

            // 監聽勾選框變化
            agreeTerms.addEventListener('change', function() {
                updateSubmitButton();
            });

            // 更新提交按鈕狀態
            function updateSubmitButton() {
                if (hasScrolledToBottom && agreeTerms.checked) {
                    submitButton.disabled = false;
                    submitButton.classList.remove('opacity-50', 'cursor-not-allowed');
                } else {
                    submitButton.disabled = true;
                    submitButton.classList.add('opacity-50', 'cursor-not-allowed');
                }
            }
        });
    </script>