<%- contentFor('body') %>
    <% if (banners && banners.length> 0) { %>
        <!-- Slide Section -->
        <section class="splide">      
            <div class="splide__track">
                <ul class="splide__list">
                    <% banners.forEach((banner, index)=> { %>
                        <!-- Slide 1 -->
                        <li class="splide__slide">
                            <div class="slide flex relative">
                                <div class="w-full">
                                    <% if (banner.mediaType==='image' ) { %>
                                        <picture class="block w-full h-full">
                                            <source media="(min-width: 1024px)" srcset="<%= banner.mediaPath %>">
                                            <source media="(min-width: 640px)" srcset="../images/tablet/1-10-2.png">
                                            <img class="w-full h-full object-cover" src="../images/mobile/1-10-2.png" alt="響應式圖片">
                                        </picture>
                                    <% } %>
                                </div>
                                <!-- 隱形線包含文字內容，垂直置中 -->
                                <div class="absolute bottom-40 lg:inset-y-0 left-8 sm:left-16 flex items-center">
                                    <div class="relative">
                                        <!-- h1 貼齊隱形線上緣 -->
                                        <h1 class="absolute bottom-0 mb-4 w-full text-white"><%= banner.title %></h1>
                                        <!-- 隱形線 -->
                                        <div class="banner-title"></div>
                                        <!-- p 貼齊隱形線下緣 -->
                                        <% if (banner.description) { %>
                                            <h2 class="h3 absolute top-0 mt-0 w-full text-white"><%= banner.description %></h2>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="absolute bottom-0 w-full flex flex-col sm:flex-row justify-center">
                <button class="max-w-xl px-3 py-2 mx-2 sm:px-12 sm:py-3 sm:mx-4 sm:w-1/2 mb-2 sm:mb-0 bg-custom-yellow">
                    <%= currentLanguage==='en' ? 'Nationwide On-Site Services' : '全區進駐服務' %>
                    
                </button>
                <button class="max-w-xl px-3 py-2 mx-2 sm:px-12 sm:py-3 sm:mx-4 sm:w-1/2 bg-custom-lightgreen ">
                    <%= currentLanguage==='en' ? 'Industry Promotion Cooperation' : '產業推廣合作' %>
                </button>
            </div>
        </section>
    <% } %>
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var splide = new Splide( '.splide' ,{
                type   : 'loop',
            });
        splide.mount();
        });
    </script>

    <!-- Content Section -->
    <% if (plainTextItems && plainTextItems.length> 0) { %>
        <% plainTextItems.forEach(function(item) { %>
            <section class="bg-promotion bg-center bg-cover py-12 md:py-24 px-8 md:px-16 lg:px-24">
                <div class="flex flex-col lg:flex-row items-center mb-16">
                    <div class="w-full lg:w-1/2 mb-0">
                        <h2 class="mb-4 text-center lg:text-left"><%= currentLanguage==='en' ? item.title_en : item.title_tw %></h2>
                        <div class="gradient-line w-24 h-2 mx-auto lg:mx-0 mb-12"></div>
                    </div>
                    <div class="w-full lg:w-1/2 flex justify-center">
                        <img class="img-shadow" src="../images/contentImg.jpg" alt="">
                    </div>
                </div>
                <div class="w-full">
                    <p class=""><%- currentLanguage==='en' ? item.content_en : item.content_tw %></p>
                </div>
            </section>
        <% }); %>
    <% } %>

    <% if (pictureItems && pictureItems.length> 0) { %>
        <% pictureItems.forEach(function(item) { %>
            <!-- Features Section -->
            <section class="bg-plan bg-center bg-cover py-16 px-6 md:px-16">
                <h3 class="text-center mb-10"><%= currentLanguage==='en' ? item.title_en : item.title_tw %></h3>
                <% if (item.images && item.images.length> 0) { %>
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-x-14 gap-y-24 sm:gap-10">
                        <% item.images.forEach(function(image) { %>
                            <div class="flex justify-center">
                                <div class="w-[90%] md:w-full rounded-2xl transform transition-transform hover:-translate-y-1 cursor-pointer">
                                    <img src="<%= image.path %>" alt="<%= currentLanguage=== 'en' ? item.title_en : item.title_tw %>" class="w-full">
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            </section>
        <% }); %>
    <% } %>

    <!-- News Section -->
    <section class="bg-news bg-cover py-16 px-6 md:px-16 sm:bg-none">
        <div class="flex flex-col sm:flex-row gap-8">
            <!-- Left: Image (hidden on mobile) -->
            <div class="hidden sm:block sm:w-1/2 flex items-center justify-center">
                <div class="flex items-center justify-center h-full">
                    <img src="../images/tablet/newsLGBG.png" alt="最新活動照片" class="w-full h-auto rounded-lg">
                </div>
            </div>
            <!-- Right: News List -->
            <div class="w-full sm:w-1/2">
                <h3 class="mb-2 text-center sm:text-left">
                    <%= currentLanguage==='en' ? 'Latest News' : '最新消息' %>
                </h3>
                <div class="yellow-line w-24 h-2 mx-auto lg:mx-0 mb-8"></div>
                <div class="h-[75vw] md:h-[50vw] sm:h-[35vw] overflow-y-auto pr-2">
                    <!-- News Item -->
                    <div class="relative border-b border-gray-300 py-2 mb-4">
                        <span class="absolute top-1 right-0 bg-custom-blue text-white px-2 py-0.5 rounded text-xs">活動訊息</span>
                        <p class="mb-2">2025/02/10</p>
                        <a href="https://money.udn.com/money/story/5635/8538031" target="_blank" class="no-underline">
                            <p class="">大南方新矽谷：台南沙崙成就台灣AI產業新典範</p>
                        </a>
                    </div>
                    <!-- News Item -->
                    <div class="relative border-b border-gray-300 py-2 mb-4">
                        <span class="absolute top-1 right-0 bg-custom-green text-white px-2 py-0.5 rounded text-xs">產業動態</span>
                        <p class="mb-2">2025/01/02</p>
                        <a href="https://money.udn.com/money/story/7307/8463862" target="_blank" class="no-underline">
                            <p class="">政院拍板大南方新矽谷方案　4策略為全產業注入AI能量_經濟日報</p>
                        </a>
                    </div>
                    <div class="relative border-b border-gray-300 py-2 mb-4">
                        <span class="absolute top-1 right-0 bg-custom-green text-white px-2 py-0.5 rounded text-xs">產業動態</span>
                        <p class="mb-2">2024/12/20</p>
                        <a href="https://money.udn.com/money/story/11799/8437079?from=edn_search_result" target="_blank" class="no-underline">
                            <p class="">第12次全科會 助力打造均衡臺灣_經濟日報</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Partners Section -->
    <section class="bg-partner bg-no-repeat bg-cover bg-bottom sm:bg-cover sm:bg-center px-6 py-12 sm:px-16 sm:py-20 lg:px-64 lg:py-28" id="partners">
        <h3 class="mb-4 sm:mb-8 text-center"><span class="text-white"><%= currentLanguage==='en' ? 'Taiwan Smart System Integrated Manufacturing Platform' : '臺灣智慧系統整合製造平台' %></span> <span class="text-custom-yellow"><%= currentLanguage==='en' ? 'Partners' : '合作伙伴' %></span></h3>
        <div class="flex flex-col sm:flex-row">
            <!-- 手機版下拉選單 -->
            <div class="block w-full sm:hidden mb-6 p-2 relative rounded-xl border">
                <select id="platform-select" class="w-full  text-gray-600 border-0 focus:ring-0 focus:outline-none py-2 pl-2 pr-10 appearance-none">
                    <option value="metal" selected>
                        <%= currentLanguage==='en' ? 'Metal Processing' : '金屬加工' %>
                    </option>
                    <option value="plastic">
                        <%= currentLanguage==='en' ? 'Smart Footwear' : '智慧鞋業' %>
                    </option>
                    <option value="shoes">
                        <%= currentLanguage==='en' ? 'Smart Healthcare' : '智慧健康' %>
                    </option>
                    <option value="health">
                        <%= currentLanguage==='en' ? 'Food & Hospitality' : '餐飲/住宿' %>
                    </option>
                    <option value="hospitality">
                        <%= currentLanguage==='en' ? 'Semiconductor' : '半導體' %>
                    </option>
                    <option value="retail">
                        <%= currentLanguage==='en' ? 'Smart manufacturing' : '智慧製造' %>
                    </option>
                    <option value="retail">
                        <%= currentLanguage==='en' ? 'Smart energy' : '智慧能源' %>
                    </option>
                </select>
                <!-- 自定義下拉箭頭 -->
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-500">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </div>
            </div>
    
            <!-- 左側選單 (Desktop) -->
            <div class="hidden sm:block sm:w-3/12 mr-6">
                <ul class="">
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 border-l-4 border-custom-yellow" type="button">
                            <%= currentLanguage==='en' ? 'Metal Processing' : '金屬加工' %>
                        </button>
                    </li>
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 text-gray-500" type="button">
                            <%= currentLanguage==='en' ? 'Smart Footwear' : '智慧鞋業' %>
                        </button>
                    </li>
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 text-gray-500" type="button">
                            <%= currentLanguage==='en' ? 'Smart Healthcare' : '智慧健康' %>
                        </button>
                    </li>
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 text-gray-500" type="button">
                            <%= currentLanguage==='en' ? 'Food & Hospitality' : '餐飲/住宿' %>
                        </button>
                    </li>
                    
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 text-gray-500" type="button">
                            <%= currentLanguage==='en' ? 'Semiconductor' : '半導體' %>
                        </button>
                    </li>
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 text-gray-500" type="button">
                            <%= currentLanguage==='en' ? 'Smart manufacturing' : '智慧製造' %>
                        </button>
                    </li>
                    <li class="">
                        <button class="categoryTab block px-3 py-2 mb-2 w-full lg:w-3/5 text-center bg-gray-100 text-gray-500" type="button">
                            <%= currentLanguage==='en' ? 'Smart energy' : '智慧能源' %>
                        </button>
                    </li>
                </ul>
            </div>
    
            <!-- 主內容區 -->
            <div class="w-full sm:w-9/12">
                <!-- 頂部標籤頁 -->
                <div class="bg-white border-2 rounded-xl border-gray-100 p-4 mb-6 min-h-full">
                    <div class="flex justify-center">
                        <button class="companyTab px-4 py-2 border-b-2 border-custom-yellow text-custom-blue font-medium">
                            <%= currentLanguage==='en' ? 'Suppliers' : '供應商' %>
                        </button>
                        <button class="companyTab px-4 py-2 border-b-2 border-gray-100 text-gray-500">
                            <%= currentLanguage==='en' ? 'Buyers' : '需求商' %></button>
                    </div>
    
                    <!-- 供應商列表 -->
                    <div class="supplierList py-6 grid grid-cols-1 sm:grid-cols-2 gap-x-2 gap-y-4">
                        <!-- 供應商卡片 -->
                        <div class="partner-card h-full flex items-center justify-center">
                            <p class="text-center">廣杰精機股份有限公司</p>
                        </div>
                        <div class="partner-card h-full flex items-center justify-center">
                            <p class="text-center">艾肯林科技股份有限公司</p>
                        </div>
                        <div class="partner-card h-full flex items-center justify-center">
                            <p class="text-center">怡邦精密有限公司</p>
                        </div>
                        <div class="partner-card h-full flex items-center justify-center">
                            <p class="text-center">達明機器人股份有限公司</p>
                        </div>
                        <div class="partner-card h-full flex items-center justify-center">
                            <p class="text-center">帆宣系統科技股份有限公司</p>
                        </div>
                    </div>
                    <!-- 需求商列表 -->
                    <div class="demanderList py-6 hidden grid-cols-1 sm:grid-cols-2 gap-x-2 gap-y-4">
                        <!-- 需求商卡片 -->
                        <!-- <div class="partner-card h-full flex items-center justify-center">
                            <p class="text-center">需求商卡片</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // 簡單的標籤切換功能
        document.addEventListener('DOMContentLoaded', function() {
            const categoryTabs = document.querySelectorAll('.categoryTab');
            const companyTabs = document.querySelectorAll('.companyTab');
            const supplierList = document.querySelector('.supplierList');
            const demanderList = document.querySelector('.demanderList');
            
            categoryTabs.forEach(categoryTab => {
                categoryTab.addEventListener('click', function() {
                    // 移除所有標籤的活動狀態
                    categoryTabs.forEach(t => {
                        t.classList.remove('border-custom-yellow', 'border-l-4');
                        t.classList.add('text-gray-500');
                    });
                    
                    // 設置當前標籤為活動狀態
                    this.classList.remove('text-gray-500');
                    this.classList.add('border-custom-yellow', 'border-l-4');
                });
            });

            companyTabs.forEach((companyTab, index) => {
                companyTab.addEventListener('click', function() {
                    companyTabs.forEach(tab => {
                        // 切換標籤樣式
                        tab.classList.toggle('border-custom-yellow', tab === this);
                        tab.classList.toggle('text-custom-blue', tab === this);
                        tab.classList.toggle('text-gray-500', tab !== this);
                        tab.classList.toggle('border-gray-100', tab !== this);
                    });
                    // 切換內容顯示
                    const isSupplierTab = index === 0;
                    supplierList.classList.toggle('grid', isSupplierTab);
                    supplierList.classList.toggle('hidden', !isSupplierTab);
                    demanderList.classList.toggle('grid', !isSupplierTab);
                    demanderList.classList.toggle('hidden', isSupplierTab);
                });
            });
        });
    </script>

    <!-- Related Links Section -->
    <section class="py-12 px-5 lg:px-8">
        <h3 class="text-center mb-2"><%= currentLanguage==='en' ? 'Related Links' : '相關連結' %></h3>
        <div class="yellow-line w-24 h-2 mx-auto mb-16 text-center"></div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-6">
            <!-- Link Item -->
            <a href="https://www.nstc.gov.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-NSTC.png" alt="國家科學及技術委員會" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://www.ndc.gov.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-NDC.png" alt="國家發展委員會" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://moda.gov.tw/" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-MODA.png" alt="數位發展部" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://www.moea.gov.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-MEA.png" alt="經濟部" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://www.edu.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-ME.png" alt="教育部" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://www.tainan.gov.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-TNCG.png" alt="臺南市政府" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://www.stsp.gov.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-STSP.png" alt="南部科學園區" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
            <!-- Link Item -->
            <a href="https://www.narlabs.org.tw" class="block no-underline" target="_blank">
            <div class="bg-gray-100 h-28 lg:h-36 rounded-xl flex items-center justify-center p-4 sm:p-6">
                <div class="w-full flex items-center justify-center">
                <img src="../images/logo/logo-NARLabs.png" alt="國家實驗研究所" class="h-full w-full object-cover">
                </div>
            </div>
            </a>
        </div>
    </section>